div.userEstimate {
  padding: 4px;
  height: 20px;
}

div.userEstimate input[type=text] {
  height: 12px;
  margin-bottom: 0px;
}

div.userEstimate div {
  display: inline-block;
  margin-left: 10px;
}

div.userEstimate div.userActions {
  width: 20px;
}

div.userEstimate div.username {
  width: 120px;
}

div.userEstimate div.username input {
  width: 100px;
}

div.userEstimate div.estimateValue {
  width: 40px;
}

div.userEstimate div.estimateValue input {
  width: 30px;
}